body {
    background-color: #18171c;
    text-align: center;
 
    margin: 0;
 }
 
 h1 {
    font-size: 30px;
    color: black;
 }
 
 .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    text-align: center;
 
    position: relative;
 
 }
 
 .oben {
    overflow: hidden;
    width: 100%;
    position: relative; /* Fügen Sie relative Positionierung hinzu */
    margin-bottom: 50px
 }
 
 .titel {
    width: 100%;
    height: 90px;
 
   /* border-radius: 20px; */
    overflow: hidden;
    display: block;
    margin: 0 auto;
 
    background: linear-gradient(to bottom, #2b244b, #342c70);
     
 }
 
 .account {
   width: 13%;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    right: 1%;
    display: flex;
    align-items: center;
    padding: 10px;
 
    background-color:#1b1447;
 
   float: right;
 
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
    cursor: pointer;
    box-shadow: 5px 5px 5px #1e1935;
 }
 
 .pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 7px;
    margin-right: 10px;
    flex-shrink: 0;
 }
 
 #accountPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
 }
 
 
 
  
  #apiName {
    display: inline-block;
    color: #5946cf;
  }
 
 .ranking {
    width: 600px;
    height: 400px;
    background-color: white;
 
    box-shadow: 10px 20px 15px silver;
    border-radius: 20px;
 
    position: relative;
    overflow: hidden;
    text-align: center;
 
    
 
    display: inline-block;
 }
 
 .statTitle {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .api-stuff {
 
    width: 600px;
    height: 400px;
    background-color: white;
 
    box-shadow: 10px 20px 15px silver;
    border-radius: 20px;
 
    position: relative;
    overflow: hidden;
    text-align: center;
 
    margin-left: 10px;
 
    display: inline-block;
 
 }
 .ranking tr :nth-child(even) {
    background-color: #f2f2f2;
 }
 
 .ranking {
    width: 600;
    height: 400;
    overflow: auto;
    border-radius: 20px;
 
 
 }
 
 .logo {
 
 width: 70px;
 height: 70px;
 
 margin-top: 9px;
 
 text-align: center;
 
 margin-left: -7.3%;
 
 
 }
 
 #styleTitel {
    padding-top: 10px;
 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
 
    color: white;
 }
 
 .start {
    width: 90%;
    height: 1700px;
    background: linear-gradient(to bottom, #1e1935, #2a2458);
    margin: 0 auto;
    border-radius: 20px;
 }
 
 #osuGamemodes {
 
    width: 100px;
    height: 100px;
 
 }
 
 #styleErklärungen {
 
    color: rgb(155, 96, 204);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
    font-size: 20px; /* Ändere die Schriftgröße nach Bedarf */
     font-weight: bold;
 
     line-height: 1.5;
     margin-bottom: 20px;
 
     display: block;
 
 }
 
 #ErklärungsHeader {
 
    padding-top: 10px;
 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
 
    color: white;
 
 }
 
 #infoLaptop {
 
    float: left;
    margin-left: 10px;
    margin-top: 33px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
 }

#randomize {
    width: 1000px;
    height: 40px;
 
    margin-top: 20px;
 
    background-color:#1b1447;
 
    border-color: #1b1447;
    border-radius: 20px;
 
    margin-left: 10px;
    margin-bottom: 20px;
 
    color: #FFFF;
    box-shadow: 5px 5px 5px #1e1935;
}

.randomizer {
    width: 80%;
    height: 330px;

    margin-top: 200px;  
 
    background: linear-gradient(to bottom, #1e1935, #2a2458);
 
    margin: 0 auto;
 
    border-radius: 20px;
}

.beatmapImage {
   border-radius: 20px;
   margin-left: 270px;
   width: 400px;
   height: 100px;
   overflow: hidden;
   background-color:#1b1447;
   box-shadow: 5px 5px 5px #1e1935;
}

#browser {
   position: absolute;
   width: 150px;
   height: 40px;
   background-color:#1b1447;


   border-color: #1b1447;
   border-radius: 20px;

   margin-top: -40px;
   margin-left: -65px;
   
   color: #FFFF;
}

#direct {
   position: absolute;
   width: 150px;
   height: 40px;
   background-color:#1b1447;


   border-color: #1b1447;
   border-radius: 20px;

   margin-top: -100px;
   margin-left: -65px;
   
   color: #FFFF;
}

.Title {
   border-radius: 20px;
   margin-left: 868px;
   margin-top: -98px;
   width: 400px;
   height: 100px;
   overflow: hidden;
   background-color:#1b1447;
   box-shadow: 5px 5px 5px #1e1935;
}

#TitleP {
  margin: 0 auto;
  margin-top: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; 

}

#ArtistP {
   margin: 0 auto;
  margin-top: 10px;
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; 
}

 
.tags {
   border-radius: 20px;
   margin-left: 623px;

   margin-top: -100px;
   width: 300px;
   height: 100px;
   overflow: hidden;
   background-color:#1b1447;
   box-shadow: 5px 5px 5px #1e1935;
}

.pp {
   display: flex;
   flex-direction: column;
   justify-content: space-around; /* Gleichmäßige Verteilung der Elemente */
   align-items: flex-start; /* Ausrichtung am Anfang (links) */
   border-radius: 20px;
   margin-left: 970px;
   margin-top: -100px;
   width: 300px;
   height: 100px;
   overflow: hidden;
   background-color:#1b1447;
   padding: 10px; /* Fügt innen etwas Platz hinzu */
   box-sizing: border-box; /* Stellt sicher, dass Padding und Border im Gesamtmaß enthalten sind */
   box-shadow: 5px 5px 5px #1e1935;
}

.pp p {
   margin: 0; /* Entfernt individuelle Margins */
   font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white; 
}

.MapInfo {
   display: flex;
   flex-direction: column;
   justify-content: space-around; /* Gleichmäßige Verteilung der Elemente */
   align-items: flex-start; /* Ausrichtung am Anfang (links) */
   border-radius: 20px;
   margin-left: 270px;
   margin-top: 20px;
   width: 300px;
   height: 100px;
   background-color: #1b1447;
   padding: 10px; /* Fügt innen etwas Platz hinzu */
   box-sizing: border-box; /* Stellt sicher, dass Padding und Border im Gesamtmaß enthalten sind */
   box-shadow: 5px 5px 5px #1e1935;
}

.MapInfo p {
   margin: 0; /* Entfernt individuelle Margins */
   font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white; 
}

#tags {
   margin: 0; /* Entfernt individuelle Margins */
   font-size: 13px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white; 
}

                             